* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}
html {
  background: #eee;
}
body {
  margin: 40px;
  background: rgb(43, 120, 51);
  border-radius: 40px;
}
h1 ,h3{
    padding: 20px;
    text-align: center;
    color: rgb(255, 217, 0)
}
.container {
  display: grid;
  margin: 20px;
  padding: 12px;
  grid-template-columns: repeat(auto-fit, minmax(50px,80px));
  grid-template-rows: 50px;
  grid-auto-rows: 50px;
  justify-content: center;
  gap: 10px;
}

.flex-item {
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 0 2px #333;
  background: #fff;
}

.flex-item:hover {
    transform: scale(1.1);
}

.green {
  background-color: rgb(9, 243, 239);
}